.add-todo-form {
  width: 100%;
  padding: 8px;
  background-color: rgb(236, 235, 235);  }
  
  .add-todo-form input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    padding: 8px,16px ;
    width: 80%;
    height: 40px;
    box-shadow: 0 0 0 0 rgba(16, 113, 117, 0.4);
    transition: box-shadow 0.3s ease;  
  }

  .add-todo-form input[type="text"]:focus,
.add-todo-form input[type="text"]:valid {
  box-shadow: 0 0 0px 0 rgba(16, 113, 117, 0.4);
}

.success-popup {
  background-color: #4CAF50; 
  color: white; 
  padding: 10px; 
  border-radius: 5px; 
  position: inherit;
  bottom: 20px; 
  right: 20px; 
  z-index: 999; 
}

.error-popup {
  background-color: #f44336; 
  color: white; 
  padding: 10px; 
  border-radius: 5px; 
  position: inherit;
  z-index: 999; 
}


 
