.add-todo-form {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
  
  .add-todo-form input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 16px;
    width: 60%;
  }
  
  .add-todo-form button {
    margin-left: 20px;
    background-color: #7babd1;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    height: 40px;
    width: 40px;
  }
  
  .add-todo-form button:hover {
    background-color: #5c8fb1;
  }