.add-todo-form
  width: 100%;
  padding: 16px;
  background-color: rgb(236, 235, 235);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  input[type="text"]
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    padding: 8px 16px;
    width: 80%;
    height: 40px;
    box-shadow: 0 0 0 0 rgba(16, 113, 117, 0.4);
    transition: box-shadow 0.3s ease;

    &:focus,
    &:valid
      box-shadow: 0 0 0px 0 rgba(16, 113, 117, 0.4);
     
  
.todo-list
  margin: 10px;
  padding: 10px;


// Estilos para .header
.header  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  z-index: 3;
  align-content: center;

  &.open:after  
    content: "";
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
    top: 0;
   

  h1  
    width: 100%;
    text-align: center;
    margin-right: 57px;
   
 

// Estilos globais
body  
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
 

// Estilos para .menu
.menu  
  position: relative;
  cursor: pointer;
  margin: 24px;
  background-color: #eee !important;
  padding: 8px;
  border-radius: 6px;
  z-index: 4;
 

// Estilos para .hamburger
.hamburger  
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .line  
    width: 25px;
    height: 3px;
    background-color: #c2c2c2;
    margin: 3px 0;
    transition: all 0.3s ease;

    &-1  
      transform: rotate(-45deg) translate(-5px, 6px);
     

    &-2  
      opacity: 0;
     

    &-3  
      transform: rotate(45deg) translate(-5px, -6px);
     
   
 

// Estilos para .user-info
.user-info  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  position: absolute;
  top: 0;
  left: calc(25px + 40px);
  background: rgba(255, 255, 255, 1);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);
  z-index: 4;
 

// Estilos para .menu-button
.menu-button
  margin-top: 10px;
  padding: 10px 20px;
  width: 80%;
  background-color: rgba(230, 0, 10, 1);
  box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover  
    background-color: darkred;
   
 

// Estilos para .exit-button
.exit-button  
  margin-top: 10px;
  padding: 10px 20px;
  width: 80%;
  background-color: #eee;
  color: rgba(230, 0, 10, 1);
  box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover  
    background-color: #ddd;
   
 

// Estilos para .button-separator
.button-separator  
  display: flex;
  align-items: center;
  margin: 1rem 0;
 

// Estilos para .text-display-medium
.text-display-medium  
  font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
  font-size: smaller;
 

// Estilos para .login-container
.login-container  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 500px;
  width: 450px;
  padding: 50px 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  border: 1px solid #dadce0;

  .login-title  
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-top: 1px;
   

  form  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
   

  label  
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    border: #8a0c0c;
   

  input  
    border-radius: 30px;
    border: 1px solid #dadce0;
    padding: 0.5rem;
    margin-top: 0.5rem;
   

  .button-container  
    display: flex;
    justify-content: space between;
    margin-top: 1rem;
   

  // Estilos para .login-button
  .login-button  
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 0.2rem;
    padding: 0.5rem;
    background-color: rgba(230, 0, 10, 1);
    box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover  
      background-color: #8a0c0c;
     
   

  // Estilos para .button-separator
  .button-separator  
    width: 40px;
    display: flex;
    align-items: center;
    margin: 1rem 0;
   
 

// Estilos para .register-button
.button-close
  position: fixed;
  top: 20px;
  right: 20px;
   

// Estilos para .imagem-fixa
.imagem-fixa  
  margin-top: 40px;
  width: 40px;
  height: 40px;
 

// Estilos para select
select  
  border: 1px solid rgb(29, 27, 27);
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;

.popup-save-note
  position: absolute;
  bottom: 95px;
  right: 45px;
  background-color: #c4ffb4;
  font-size: clamp(12px, 0.8vw, 1rem);
  border-radius: 12px;
  padding: 10px;

.button-close-popup
 position: absolute;
 background-color: transparent;
 border: none;
 bottom: 60px;
 right: 0px;

.popup-alert
  position: absolute;
  bottom: 95px;
  right: 45px;
  background-color: rgba(255, 105, 97, 0.8);
  font-size: clamp(12px, 0.8vw, 1rem);
  border-radius: 12px;
  padding: 10px;
 
.popup-header
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
 

.popup-title  
  align-items: center;
  justify-content: center;
 

.button-close  
  color: #333;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
 
.add-user-button  
  position: fixed;
  top: 30px;
  right: 30px;
  align-items: center;
  justify-content: center;
  background-color: rgba(55, 61, 75, 0.8);
  box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

.pagination
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  li
    background-color : #fff;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;

    a
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color : #fff;

      &.active
        background-color: #ccc;

  &.with-add-todo-form
      bottom: 85px;

.select-profile
  background-color: #EBEAEA;
  border-color: #ddd;
  border-radius: 30px;
  padding: 10px;
  font-size: 16px;





      