.header {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: row;
    }
    
    
    .menu {
        position: relative;
        cursor: pointer;
    }
    
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    
    .line {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 3px 0;
        transition: all 0.3s ease;
    }
    
    .line-1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .line-2 {
        opacity: 0;
    }
    
    .line-3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    
    .delete-button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .delete-button:hover {
        background-color: darkred;
    }
