.todo-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 16px;
  }
  
  .todo-item-completed{
      background-color: #e3e0e0;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      padding: 16px;
    }

    .add-user-button {
      position: fixed;
      top: 20px;
      right: 20px;
      align-items: center;
    justify-content: center;
    
    background-color:  rgba(55, 61, 75, 0.641);
    box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);

    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 6px ;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
  
  .reg-user-button{   
   
    align-items: center;
  justify-content: center;
  width: 80%;
  
  background-color:  rgba(55, 61, 75, 0.641);
  box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);

  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 6px ;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

      .popup-container {
        max-height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 500px;
        background-color: rgb(255, 255, 255);
        max-width: 500px;
        min-width: 450px;
        padding: 50px 25px;
        position: relative;
        border-radius: 30px;
    }

  .button-close {
      position: absolute;
      top: 15px; 
      right: 15px;
      width: 30px;
      height: 30px;
      background-color: rgba(230, 0, 10);
      box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);
      color: #fff;
      border: none;
      border-radius: 30px;
      padding: 6px;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .delete-button {
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgba(230, 0, 10);
    box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);

    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 6px ;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #8a0c0c;
    box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);

  }
  
  
  .delete-button-completed {
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgb(166, 54, 58) ;
    box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);

    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 6px ;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: pulsate 1.5s ease-in-out infinite both;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.08);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .todo-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
  
  .todo-delete:hover {
    color: #720e14;
    box-shadow: 0 2px 4px rgba(3, 73, 251, 0.641);

  }
  
  .todo-label-completed{
     color: #9d9ea1;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    text-decoration: line-through;
  }
 
  .not-found-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: rgba(255, 255, 255);
    max-width: 500px;
    width: 450px;
    padding: 50px 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 1px solid #dadce0;  }
    
  .popup-content .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .popup textarea {
    width: 100%;
    height: 10rem;
    border: none;
    resize: none;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }